<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="x0RVzRcDd3wAwzF_jkr1NSIlwCJdmyrhJNpJsKQg8mE" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if flash[:notice] %>
      <div class="notice alert alert-info" role="alert">
        <%= flash[:notice]%>
      </div>
    <% end %>

    <% if logged_in? %>
      <%= link_to 'Logout', '/signout' %>
    <% else %>
      <nav class="navbar navbar-brand">
        <%= link_to 'Twitter Login', '/auth/twitter' %>
        <%= link_to "Google Login", '/auth/google_oauth2' %>
        <%= link_to "Github Login", "/auth/github" %>

      </nav>
    <% end %>
  </header>
  <%= yield %>
  </body>
</html>
