<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if logged_in? %>
      <%= link_to 'Logout', '/signout' %>
    <% else %>
      <%= link_to 'Twitter Login', '/auth/twitter' %>
      <%= link_to "Google Login", '/auth/google_oauth2' %>
    <% end %>
  </header>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice]%>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
